#body{
	background-color:#5555AA;
	font-size:150;
	font-family:Arial;
}
h1{
	color:#FFFFFF;
	font-size:200%;
}
#big{
	font-size:400%;

}
#moto{
	font-size:70%;
}

#live0{
	font-size:150%;
	color:#FF0000;
	background-color:#000000;
}
p{
	color:#AAAAAA;
}

#footer0 {
	font-size:150%;
	color:#FFFFFF;
}
	


#footer0 el1{
	color:#00FF00;
}
	