* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

@font-face {
	  font-family: "Gabriola";
	  src: url("fonts/b26b20369adfef2b3d65d266e0625fe2.eot"); /* IE9*/
	  src: url("fonts/b26b20369adfef2b3d65d266e0625fe2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	  url("fonts/b26b20369adfef2b3d65d266e0625fe2.woff2") format("woff2"), /* chrome、firefox */
	  url("fonts/b26b20369adfef2b3d65d266e0625fe2.woff") format("woff"), /* chrome、firefox */
	  url("fonts/b26b20369adfef2b3d65d266e0625fe2.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	  url("fonts/b26b20369adfef2b3d65d266e0625fe2.svg#Gabriola") format("svg"); /* iOS 4.1- */
}

body {
	font-family: Gabriola;
	font-size: 200%;
	color: #230c33;
	background-color: #caa8f5;
}

.main-header {
	color: white;
	padding-top: 1%;
}

.main-footer > p {
	text-align: center;
	color: white;
	text-indent: 0;
	padding: 1%;
}

.dark-background {
	background-color: #230c33;
}

.site-title {
	font-weight: 900;
	font-size: 350%;
}

h1, h2 {
	text-align: center;
	text-transform: uppercase;
}

h2 {
	font-size: 150%;
	color: black;
}

h3 {
	text-indent: 1.5;
	margin-top: 4%;

}

.first-heading {
	margin: 4%;
}

p, .regular-list {
	text-align: justify;
	text-indent: 7%;
	font-weight: 550;
	color: black;
	font-size: 100%;
	margin: 0cm 2% 0cm 4%;
}

.regular-list ul {
	list-style: none;
}

.roman-list {
	list-style-type: upper-roman;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	
}

@media only screen and (min-resolution: 100dpi){
body {
	font-size: 310%
}
}

@media only screen and (max-width: 1050px), (orientation: portrait)
{
nav ul {
	flex-direction: column;
	text-align: center;
}
}
nav a {
	text-decoration: none;
	color: white;
	text-align: center;
	
}

nav li {
	padding: 0.2cm 0.5cm 0.1cm 0.5cm;
	margin: 0.2cm;
	display: block;
}


nav {
	background-color: #592e83;
	box-shadow: 0 0 0.1cm 0.1cm #592e83;
}


.card {
	padding: 0.75cm;
	display: block;
	width: 90%;
	margin: 1% auto;
}


.profile-pic {
	display: flex;
	border-radius: 50%;
	margin: auto;
	box-shadow: 0 0 0.2cm 0.02cm white;
}

.th {
	font-weight: bold;
}

td {
	padding: 0px 1cm;
	vertical-align: top;
}

table {
	margin: 0 auto;
}

footer {
	box-shadow: 0 0 0.1cm 0.1cm #230c33;
}

.active {
	box-shadow: 0 0 0.1cm 0.1cm #230c33;
	border-radius: 0.2cm;
	background-color: #230c33;

}

.border-table, .border-table td  {
	border: solid #230c33 1px;
	border-collapse: collapse;
}

.image-title {
	text-indent: 0;
	margin: 0;
	padding: 0;
	text-align: center;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	max-width: 30cm;
	margin: auto;
	vertical-align: top;

}

@media only screen and (min-resolution: 100dpi){

.flex-container {
	max-width: 20cm;

}
}

.flex-item {
	margin: 1.0%;
	box-shadow: 0 0 0.2cm 0.05cm #230c33;
}

@media only screen and (min-resolution: 100dpi){
.flex-item {
	margin: 3.0%;
	box-shadow: 0 0 0.2cm 0.05cm #230c33;
}
}

.flex-item:hover {
	box-shadow: 0 0 0.2cm 0.08cm #230c33;
}

input[type=text], input[type=email], select, option, 
input[type=submit], input[type=reset], textarea, input[type=number] {
	padding: 1.5%;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	font-size: 100%;
}

textarea {
	resize: none;
	margin: 0;
	text-indent: 0px;
}

fieldset {
	padding: 1cm;
	margin-bottom: 1%;
	border: solid #230c33 0.01cm;
}

@media only screen and (min-resolution: 100dpi){
img {
	width: 100%;
}

